<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Leetcode/src/Q1192_Critical_Connections_in_a_Network.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Q1192_Critical_Connections_in_a_Network"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Leetcode"/>
</launchConfiguration>
