<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Leetcode/src/Q1997_First_Day_Where_You_Have_Been_in_All_the_Rooms.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Q1997_First_Day_Where_You_Have_Been_in_All_the_Rooms"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Leetcode"/>
</launchConfiguration>
