<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Leetcode/src/Q600_Non_negative_Integers_without_Consecutive_Ones.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Q600_Non_negative_Integers_without_Consecutive_Ones"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Leetcode"/>
</launchConfiguration>
