<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/I_Uber/src/Q_Shuffle_an_array_with_frequency.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Q_Shuffle_an_array_with_frequency"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="I_Uber"/>
</launchConfiguration>
